@import "lg";
@import "sm";
@import "xs";

.box{
	font-size: 100px;
}
div{
	box-sizing:(border-box);
}
h1{
	font-size:$fz-h1;
	color:$red;
}
h2{
	font-size:$fz-h2;
}
h3{
	font-size:$fz-h3;
}
h4{
	font-size:$fz-h4;
}
p{
	font-size:$fz-content;
}
.box{
	border:1px solid #000;
	height: 200px;
}
.minp{
	font-size:$fz-mincontent;
}

